In [492]:
import csv
import numpy as np
import pandas as pd
import gurobipy as gp
from gurobipy import GRB
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
import gurobipy as gp
from gurobipy import GRB

In [493]:
def importClean_5ind(csv_file_path, desired_returns = 'Average Value Weighted Returns -- Monthly'):
    """
    Cette fonction importe des données à partir d'un fichier CSV spécifié, effectue un nettoyage de données,
    et retourne un DataFrame contenant des données filtrées sans tenir compte de la variable T (nombre d'années).

    Args:
        csv_file_path(str): Chemin vers le fichier CSV avec les données brutes.

    Returns:
        DataFrame: DataFrame contenant les données filtrées.
    """

    # Importation
    with open(csv_file_path, 'r', newline='') as file:
        reader = csv.reader(file)
        
        # Sauter les 10 premières lignes
        for _ in range(10):
            next(reader)

        # Lire le reste du fichier CSV dans un DataFrame
        df = pd.DataFrame(reader)
        df.columns = df.iloc[1]
        df = df.drop(df.index[1])
        df = df.reset_index(drop=True)

    # Nettoyage
    df = df.rename(columns={df.columns[0]: 'Date'})
    first_row = df[df.iloc[:, 0].str.strip() == desired_returns].index
    df_AEWR_monthly = df.iloc[first_row.values[0] + 2:].reset_index(drop=True)
    last_row = (df_AEWR_monthly['Date'].str.len() != 6).idxmax()
    df_AEWR_monthly = df_AEWR_monthly.iloc[:last_row]
    df_AEWR_monthly['Date'] = pd.to_datetime(df_AEWR_monthly['Date'], format='%Y%m')
    df_AEWR_monthly.iloc[:, 1:] = df_AEWR_monthly.iloc[:, 1:].astype(float)
    df_AEWR_monthly.replace(-99.99, np.nan, inplace=True)
    df_AEWR_monthly.replace(-999, np.nan, inplace=True)
    df_AEWR_monthly.dropna(inplace=True)

    # Retourner le DataFrame complet sans filtre temporel
    df_10Ind = df_AEWR_monthly.reset_index(drop=True)
    
    return df_10Ind

In [494]:
df_48ind = importClean_5ind('/Users/thomasdeconinck/Documents/GitHub/Gestion de Portefeuille Devoir 2/Partie B/Data/48_Industry_Portfolios.CSV', desired_returns='Average Value Weighted Returns -- Monthly')
# Set 'Date' column as the index of the DataFrame
df_48ind.set_index('Date', inplace=True)
df_48ind

/var/folders/gm/cwbp26c51d14t923q1b9pdn00000gn/T/ipykernel_70800/397350783.py:35: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_AEWR_monthly.replace(-99.99, np.nan, inplace=True)

1,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,Clths,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
Date,,,,,,,,,,,,,,,,,,,,,
1969-07-01,-8.32,-6.92,-3.53,-2.10,-4.74,-7.87,-10.15,-11.07,-3.43,-11.91,...,-3.15,-12.50,-10.09,-8.19,-9.93,-6.60,-10.18,-12.74,-9.05,-14.64
1969-08-01,4.23,4.52,5.44,6.63,3.99,6.42,11.56,9.79,4.77,2.40,...,6.08,5.59,6.38,8.21,8.98,12.76,8.80,15.06,8.89,8.38
1969-09-01,1.59,-0.58,5.28,-0.91,4.12,2.13,0.57,-0.61,-0.52,-2.64,...,1.23,-1.56,0.21,-0.75,-1.35,-2.94,7.08,-3.79,-2.54,-6.67
1969-10-01,16.95,7.97,6.84,11.64,12.42,6.28,13.57,7.59,6.41,6.72,...,3.50,4.89,11.25,6.25,9.03,10.71,5.71,4.54,10.31,3.70
1969-11-01,-1.87,-0.66,-4.91,-2.83,0.61,-8.33,-3.27,-3.97,-2.42,-2.90,...,-1.98,-7.91,-6.83,-4.08,-1.90,-8.99,-4.90,-6.23,-5.91,-2.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-01,0.84,-4.28,-6.43,-5.13,-2.43,-7.38,-11.17,-6.19,-6.81,-4.41,...,-2.57,-5.15,-2.69,-6.16,-4.45,-3.92,2.57,-10.45,-3.49,-2.72
2023-10-01,-5.83,-4.98,-0.39,-4.34,-4.00,-14.31,2.77,-2.05,-0.05,4.21,...,-3.46,-6.31,-0.90,0.74,-1.71,-2.89,3.49,-9.05,-6.31,-1.77
2023-11-01,-2.29,4.26,4.79,3.90,4.76,5.66,11.08,7.90,4.97,10.63,...,10.43,12.31,7.94,6.96,7.67,13.16,3.93,9.95,13.51,6.64
2023-12-01,6.72,4.33,2.26,0.55,0.91,10.15,3.98,8.79,0.32,4.62,...,3.56,7.30,4.63,6.38,5.06,9.68,-0.58,17.45,10.11,1.46
2024-01-01,-4.56,-1.54,-0.72,-0.82,-2.51,-5.63,7.89,-0.41,3.77,-5.16,...,-1.20,-1.56,2.94,1.39,0.62,1.56,1.72,-5.08,-2.12,4.55

In [495]:
df_number_firm = importClean_5ind('/Users/thomasdeconinck/Documents/GitHub/Gestion de Portefeuille Devoir 2/Partie B/Data/48_Industry_Portfolios.CSV', desired_returns= 'Number of Firms in Portfolios')
# Set 'Date' column as the index of the DataFrame
df_number_firm.set_index('Date', inplace=True)

df_average_firm_size = importClean_5ind('/Users/thomasdeconinck/Documents/GitHub/Gestion de Portefeuille Devoir 2/Partie B/Data/48_Industry_Portfolios.CSV', desired_returns='Average Firm Size')
# Set 'Date' column as the index of the DataFrame
df_average_firm_size.set_index('Date', inplace=True)

/var/folders/gm/cwbp26c51d14t923q1b9pdn00000gn/T/ipykernel_70800/397350783.py:35: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_AEWR_monthly.replace(-99.99, np.nan, inplace=True)

### Market Cap

In [496]:
market_caps = df_average_firm_size.multiply(df_number_firm)
market_caps.dropna(inplace=True)

market_caps

1,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,Clths,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
Date,,,,,,,,,,,,,,,,,,,,,
1969-07-01,293.6,16916.9,6142.08,3003.3,3735.82,4728.28,2214.96,4315.95,51336.92,4571.0,...,11522.6,14806.97,3010.15,33087.75,4481.12,10436.16,6617.92,1579.41,10901.25,136.8
1969-08-01,267.45,15709.85,5924.52,2937.45,3553.88,4355.9,1989.12,3838.01,49540.16,4018.0,...,11148.26,12940.99,2695.0,30332.4,4033.68,9728.46,5929.28,1377.7,9896.4,116.24
1969-09-01,278.45,16370.9,6242.04,3123.15,3656.29,4628.09,2219.04,4200.95,51800.6,4076.52,...,11786.1,13579.31,2861.1,32669.52,4394.88,10956.54,6225.75,1583.78,10742.4,126.0
1969-10-01,282.85,16231.8,6541.78,3059.55,3800.94,4717.53,2229.6,4170.13,51452.84,3958.53,...,11928.9,13345.47,2861.65,32401.2,4329.08,10573.92,6657.3,1523.06,10449.9,117.2
1969-11-01,329.05,17492.15,6988.24,3411.6,4268.11,5013.37,2530.08,4486.15,54661.88,4215.9,...,12323.98,13985.37,3182.3,34368.36,4718.56,11674.34,7018.2,1591.83,11505.15,121.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-01,41006.68,505297.52,346342.32,346278.68,229020.7,41627.04,394473.12,27397.08,677271.34,252346.56,...,75465.5,812140.55,519543.2,3359902.26,696424.79,2626741.91,1581703.2,68858.24,1204022.82,1219430.46
2023-10-01,41351.2,482695.72,322070.22,328411.27,219676.3,38554.32,350182.43,25643.28,630874.36,240484.16,...,73352.8,769734.55,505316.24,3152332.77,665101.66,2520866.93,1618384.68,61585.28,1159465.58,1184147.6
2023-11-01,38939.89,453495.0,320819.4,314148.67,210891.15,32941.16,359816.49,25072.2,626535.45,250580.48,...,70811.4,721091.8,497719.17,3174484.6,653520.8,2442166.45,1674202.86,55927.1,1082860.33,1162998.24
2023-12-01,37935.92,471186.0,334212.57,324295.84,220929.35,34769.28,399451.12,27025.8,656927.1,277170.88,...,77940.2,807797.12,536188.5,3390874.2,701207.24,2753837.76,1736637.21,61450.37,1225951.76,1237856.4
2024-01-01,40484.07,490809.0,341749.8,326093.13,219169.4,38299.52,415217.74,29381.04,658732.05,289304.0,...,80538.8,865421.44,560593.58,3597482.63,735534.27,3017472.12,1722121.66,72104.45,1345554.32,1255554.3

### BTOM (SUM OF BE/ SUM OF ME)

In [497]:
def importClean_5ind(csv_file_path, desired_returns = 'Average Value Weighted Returns -- Monthly'):
    """
    Cette fonction importe des données à partir d'un fichier CSV spécifié, effectue un nettoyage de données,
    et retourne un DataFrame contenant des données filtrées sans tenir compte de la variable T (nombre d'années).

    Args:
        csv_file_path(str): Chemin vers le fichier CSV avec les données brutes.

    Returns:
        DataFrame: DataFrame contenant les données filtrées.
    """

    # Importation
    with open(csv_file_path, 'r', newline='') as file:
        reader = csv.reader(file)
        
        # Sauter les 10 premières lignes
        for _ in range(10):
            next(reader)

        # Lire le reste du fichier CSV dans un DataFrame
        df = pd.DataFrame(reader)
        df.columns = df.iloc[1]
        df = df.drop(df.index[1])
        df = df.reset_index(drop=True)

    # Nettoyage
    df = df.rename(columns={df.columns[0]: 'Date'})
    first_row = df[df.iloc[:, 0].str.strip() == desired_returns].index
    df_AEWR_monthly = df.iloc[first_row.values[0] + 2:].reset_index(drop=True)
    last_row = (df_AEWR_monthly['Date'].str.len() != 6).idxmax()
    df_AEWR_monthly = df_AEWR_monthly.iloc[:last_row]
    df_AEWR_monthly['Date'] = df_AEWR_monthly['Date'].str.strip()
    df_AEWR_monthly['Date'] = pd.to_datetime(df_AEWR_monthly['Date'], format='%Y')
    df_AEWR_monthly.iloc[:, 1:] = df_AEWR_monthly.iloc[:, 1:].astype(float)
    df_AEWR_monthly.replace(-99.99, np.nan, inplace=True)
    df_AEWR_monthly.replace(-999, np.nan, inplace=True)
    df_AEWR_monthly.dropna(inplace=True)

    # Retourner le DataFrame complet sans filtre temporel
    df_10Ind = df_AEWR_monthly.reset_index(drop=True)
    
    return df_10Ind

In [498]:
df_BtoM = importClean_5ind('/Users/thomasdeconinck/Documents/GitHub/Gestion de Portefeuille Devoir 2/Partie B/Data/48_Industry_Portfolios.CSV', 'Sum of BE / Sum of ME')
df_BtoM.set_index('Date', inplace=True)

df_BtoM = df_BtoM.loc[df_BtoM.index.repeat(12)]

df_BtoM = df_BtoM.reset_index(drop=True)
# Supprimer les lignes en excès de df_BtoM
df_BtoM = df_BtoM.iloc[:len(df_48ind)]
# Réattribuer l'index
df_BtoM.index = df_48ind.index
df_BtoM

/var/folders/gm/cwbp26c51d14t923q1b9pdn00000gn/T/ipykernel_70800/2496485154.py:36: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_AEWR_monthly.replace(-99.99, np.nan, inplace=True)

1,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,Clths,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
Date,,,,,,,,,,,,,,,,,,,,,
1969-07-01,0.88,0.50,0.2,0.58,0.66,0.31,0.42,0.33,0.21,0.50,...,0.36,1.32,0.49,0.41,0.24,0.60,0.54,0.27,0.74,0.60
1969-08-01,0.88,0.50,0.2,0.58,0.66,0.31,0.42,0.33,0.21,0.50,...,0.36,1.32,0.49,0.41,0.24,0.60,0.54,0.27,0.74,0.60
1969-09-01,0.88,0.50,0.2,0.58,0.66,0.31,0.42,0.33,0.21,0.50,...,0.36,1.32,0.49,0.41,0.24,0.60,0.54,0.27,0.74,0.60
1969-10-01,0.88,0.50,0.2,0.58,0.66,0.31,0.42,0.33,0.21,0.50,...,0.36,1.32,0.49,0.41,0.24,0.60,0.54,0.27,0.74,0.60
1969-11-01,0.88,0.50,0.2,0.58,0.66,0.31,0.42,0.33,0.21,0.50,...,0.36,1.32,0.49,0.41,0.24,0.60,0.54,0.27,0.74,0.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-01,0.65,0.43,0.1,0.13,0.28,0.39,0.17,0.59,0.14,0.19,...,0.42,0.22,0.27,0.16,0.14,0.65,0.37,0.43,0.42,0.48
2023-10-01,0.65,0.43,0.1,0.13,0.28,0.39,0.17,0.59,0.14,0.19,...,0.42,0.22,0.27,0.16,0.14,0.65,0.37,0.43,0.42,0.48
2023-11-01,0.65,0.43,0.1,0.13,0.28,0.39,0.17,0.59,0.14,0.19,...,0.42,0.22,0.27,0.16,0.14,0.65,0.37,0.43,0.42,0.48
2023-12-01,0.65,0.43,0.1,0.13,0.28,0.39,0.17,0.59,0.14,0.19,...,0.42,0.22,0.27,0.16,0.14,0.65,0.37,0.43,0.42,0.48
2024-01-01,0.65,0.43,0.1,0.13,0.28,0.39,0.17,0.59,0.14,0.19,...,0.42,0.22,0.27,0.16,0.14,0.65,0.37,0.43,0.42,0.48

### MOM

In [499]:
df_mom = df_48ind.rolling(window=12, min_periods=12).mean()

df_mom.replace(-99.99, np.nan, inplace = True)
df_mom.replace(-999, np.nan, inplace = True)
df_mom.dropna(inplace = True)

df_mom

1,Agric,Food,Soda,Beer,Smoke,Toys,Fun,Books,Hshld,Clths,...,Boxes,Trans,Whlsl,Rtail,Meals,Banks,Insur,RlEst,Fin,Other
Date,,,,,,,,,,,,,,,,,,,,,
1970-06-01,-1.608333,-1.192500,-0.079167,-0.121667,1.379167,-4.351667,-2.588333,-4.757500,-1.919167,-4.050000,...,-2.296667,-4.505000,-4.432500,-2.108333,-4.271667,-0.481667,-1.880000,-4.616667,-3.060833,-7.690833
1970-07-01,-0.982500,-0.151667,0.701667,0.616667,2.065833,-2.652500,-1.698333,-2.729167,-1.250000,-2.367500,...,-1.479167,-2.764167,-3.231667,-0.444167,-3.360833,0.620833,-0.150000,-2.749167,-1.442500,-6.460833
1970-08-01,-1.360833,-0.497500,0.105833,-0.161667,1.787500,-2.236667,-2.392500,-3.003333,-1.295833,-1.963333,...,-1.340000,-2.526667,-3.212500,-0.702500,-3.523333,0.090000,-0.750833,-3.533333,-1.712500,-5.955000
1970-09-01,-0.289167,-0.032500,0.001667,0.286667,1.486667,-1.895833,-0.841667,-2.345000,-0.720833,-0.746667,...,-1.426667,-1.650000,-1.866667,-0.072500,-2.071667,0.301667,-0.614167,-1.979167,-0.775833,-4.920000
1970-10-01,-1.998333,-0.698333,-0.209167,-0.768333,1.314167,-2.781667,-2.284167,-3.220000,-1.268333,-1.613333,...,-1.936667,-2.470000,-3.435833,-0.665833,-3.153333,-1.025833,-1.920833,-3.140000,-2.250833,-6.836667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-09-01,-0.443333,0.130833,0.800833,0.579167,1.386667,0.681667,2.873333,2.539167,1.005833,1.811667,...,1.295000,1.810000,2.147500,1.186667,1.638333,0.859167,0.887500,1.377500,1.430000,2.147500
2023-10-01,-2.074167,-1.222500,0.175000,-0.571667,0.047500,-0.840000,1.854167,1.636667,0.530000,1.255833,...,0.534167,0.715833,0.934167,1.092500,0.615000,-0.496667,0.110000,0.045833,-0.054167,1.101667
2023-11-01,-2.465833,-1.114167,-0.067500,-0.516667,-0.021667,-0.790833,2.170833,0.989167,0.159167,0.682500,...,0.526667,0.895000,1.174167,1.427500,0.755000,0.169167,0.320833,-0.030833,0.355000,1.069167
2023-12-01,-0.885833,-0.555000,0.155833,-0.127500,-0.101667,0.904167,2.951667,2.369167,0.120833,1.084167,...,1.178333,2.140833,2.029167,2.706667,1.711667,1.515833,0.540000,1.970833,1.743333,1.470833
2024-01-01,-2.089167,-0.500833,0.314167,0.105000,-0.432500,-0.937500,1.998333,1.378333,0.470000,-0.098333,...,0.300000,1.284167,1.700000,1.912500,0.950000,0.865833,0.712500,0.189167,0.858333,1.671667

### Problème de shape dataframe MoM

In [500]:
df_BtoM = df_BtoM.reindex(df_mom.index)
market_caps = market_caps.reindex(df_mom.index)

### Standardiser

In [501]:
# Créer un objet StandardScaler
scaler = StandardScaler()

def standardize(df):
    # Standardiser les données
    df_scaled = scaler.fit_transform(df)
    
    df_standardized = pd.DataFrame(df_scaled, columns=df.columns, index=df.index)
    
    return df_standardized

standardized_market_caps = standardize(market_caps)
standardized_BtoM = standardize(df_BtoM)
standardized_mom = standardize(df_mom)

In [502]:
MC = market_caps  # Capitaux de marché
BM = df_BtoM  # Ratio book-to-market
MOM = df_mom # Momentum
M = 3 # Nombre de caractéristiques de style (Market Caps, Book-to-Market, Momentum)
N = len(df_48ind.columns) # Nombre d'actifs 
T = len(market_caps) # Nombre de périodes de temps
returns = df_48ind.values # Rendements des 48 industries 
mkt_weights = market_caps / market_caps.sum(axis=1).values.reshape(-1, 1)# Poids du portefeuille de marché
mkt_weights.reset_index(drop=True, inplace=True) 
characteristics = [MC, BM, MOM]
gamma = 5

In [503]:
# Define the CRRA utility function
def CRRA_utility(rp):
    return (1 + rp) ** (1 - gamma) / (1 - gamma)

gamma = 5

# Define the objective function to be maximized
def objective(theta):
    rp = [sum((mkt_weights.iloc[t, i] + (1/N) * sum(theta[j] * characteristics[j].iloc[t, i] for j in range(M))) * returns[t, i] for i in range(N)) for t in range(T-1)]
    utility = sum(CRRA_utility(r) for r in rp)
    return -utility / (T - 1)

# Initial guess for theta
theta_initial = np.zeros(M)

# Run the optimization
result = minimize(objective, theta_initial, method='SLSQP')

# Output the optimal theta found by the optimizer
optimal_theta = result.x if result.success else None
optimal_theta

array([ 9.69825498e+09,  4.77978629e+05, -4.57441110e+05])

In [504]:
characteristics = [MC, BM, MOM]  # Matrices de caractéristiques standardisées

# Create a new model
m = gp.Model("Optimization_Problem")

# Coefficients to be optimized
theta = m.addVars(M, lb=-GRB.INFINITY, name="theta")

# Define the CRRA utility function with gamma = 5
gamma = 5.0
def crra_utility(rp):
    return (1 + rp) ** (1 - gamma) / (1 - gamma)

# Add the objective function
obj_expr = sum(
    crra_utility(
        sum(mkt_weights.iloc[t, i] * returns[t, i] for i in range(N)) +
        sum((1.0/N) * sum(theta[j] * characteristics[j].iloc[t, i] for j in range(3)) * returns[t, i] for i in range(N))
    ) for t in range(T-1)
) / (T - 1)

m.setObjective(obj_expr, GRB.MAXIMIZE)

# Optimize the model
m.optimize()

# Fetch the optimized values of theta
optimal_theta = m.getAttr('x', theta)

print(optimal_theta)

TypeError: unsupported operand type(s) for ** or pow(): 'gurobipy.LinExpr' and 'float'